@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #F5F8FA;

}